<ion-header>
  <ion-toolbar>
    <ion-title>You are playing as Detective</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-list-header>Info</ion-list-header>
		<ion-item>
			<ion-label>Your position</ion-label>
			<ion-label slot="end">152</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>Villian revealed in</ion-label>
			<ion-label slot="end">152</ion-label>
		</ion-item>
	</ion-list>
	<ion-list>
		<ion-list-header>Tickets</ion-list-header>
		<ion-item>
			<ion-label style="font-size: large; --background: yellow">Taxi</ion-label>
			<ion-label slot="end">5 remaining</ion-label>
			<ion-select slot="end" value="test" interface="action-sheet">
				<ion-select-option value="52">52</ion-select-option>
				<ion-select-option value="53">53</ion-select-option>
				<ion-select-option value="54">54</ion-select-option>
				<ion-select-option value="55">55</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label style="font-size: large; --background: yellow">Bus</ion-label>
			<ion-label slot="end">5 remaining</ion-label>
			<ion-select slot="end" value="test" interface="action-sheet">
				<ion-select-option value="52">52</ion-select-option>
				<ion-select-option value="53">53</ion-select-option>
				<ion-select-option value="54">54</ion-select-option>
				<ion-select-option value="55">55</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label style="font-size: large; --background: yellow">Underground</ion-label>
			<ion-label slot="end">5 remaining</ion-label>
			<ion-select slot="end" value="test" interface="action-sheet">
				<ion-select-option value="52">52</ion-select-option>
				<ion-select-option value="53">53</ion-select-option>
				<ion-select-option value="54">54</ion-select-option>
				<ion-select-option value="55">55</ion-select-option>
			</ion-select>
		</ion-item>
	</ion-list>
</ion-content>
